<launch>

  <param 
    name="robot_description" 
    textfile="$(find iai_pr2_description)/robots/pr2_calibrated_with_ft2.xml"/>
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
      <rosparam param="source_list">
        - pr2/joint_states
      </rosparam>
      <param name="rate" value="120" />
      <param name="use_gui" value="False" />
  </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

</launch>
